/.metadata/
spring3_collection/.classpath
spring3_collection/.settings/org.eclipse.jdt.core.prefs
spring3_collection/.settings/org.eclipse.m2e.core.prefs
diPrj/.classpath
diPrj/.project
diPrj/.springBeans
diPrj2_applicationcontext/.classpath
diPrj2_applicationcontext/.project
diPrj2_applicationcontext/.settings/org.eclipse.jdt.core.prefs
diPrj3_applicationcontext2/.classpath
diPrj3_applicationcontext2/.project
diPrj3_applicationcontext2/.settings/org.eclipse.jdt.core.prefs
diPrj3_applicationcontext2/.settings/org.eclipse.m2e.core.prefs
